---
import { Mail, Phone } from 'lucide-react'
import robotShappe from '../assets/img/robotShappe.svg'
import { getLangFromUrl, useTranslations } from '../i18n/utils/config'
import Badge from './Badge.astro'
import ContactForm from './ContactForm'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const contact = t('contact')
const formspreeEndpoint = import.meta.env.PUBLIC_FORMSPREE_ENDPOINT // endpoint que se obtiene del servicio "formspree"
---

<section
  id="hablemos"
  class="relative w-full min-h-[80vh] flex items-center overflow-hidden"
  tabindex="-1"
  aria-labelledby="contact-badge contact-subtitle contact-description"
>
  <div class="relative z-10 w-full mx-auto max-w-7xl px-6 md:px-0 py-12 md:py-24">
    <div class="text-center">
      <Badge id="contact-badge" className="text-xs tracking-wider">
        {contact.badge}
      </Badge>
      <h2
        id="contact-subtitle"
        class="mt-4 text-4xl xl:text-6xl font-semibold text-(--text-primary)"
      >
        {contact.title}
      </h2>
      <p id="contact-description" class="mt-4 text-(--text-secundary) max-w-2xl mx-auto">
        {contact.description}
      </p>
    </div>

    <div class="mt-10 md:mt-20 grid gap-20 lg:grid-cols-[1fr_1.1fr] items-center">
      <div class="relative flex items-center justify-center">
        <img src={robotShappe.src} alt="Robot EKOU" class="w-full max-w-md md:max-w-lg" />

        <div
          class="absolute left-15 md:left-40 -bottom-4 flex flex-wrap items-center gap-3 text-xs text-(--text-secundary)"
        >
          <span
            class="inline-flex items-center gap-2 rounded-full border border-(--color-border) bg-(--surface-primary)/30 px-3 py-1 backdrop-blur-lg"
          >
            <Mail className="w-3.5 h-3.5 text-(--color-primary)" />
            {contact.email}
          </span>
          <span
            class="inline-flex items-center gap-2 rounded-full border border-(--color-border) bg-(--surface-primary)/30 px-3 py-1 backdrop-blur-lg"
          >
            <Phone className="w-3.5 h-3.5 text-(--color-primary)" />
            {contact.phone}
          </span>
        </div>
      </div>

      <ContactForm client:load labels={contact.form} endpoint={formspreeEndpoint} />
    </div>
  </div>
</section>
