---
import { Atom, Cpu, Rocket } from 'lucide-react'
import arrowA from '../assets/img/arrowA.svg'
import arrowB from '../assets/img/arrowB.svg'
import { getLangFromUrl, useTranslations } from '../i18n/utils/config'
import Badge from './Badge.astro'
import SpaceGlow from './SpaceGlow.astro'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const helpyou = t('helpyou')
const icons = [Rocket, Cpu, Atom]
---

<section
  id="como-te-ayudamos"
  class="relative w-full min-h-[80vh] flex flex-col items-center justify-center overflow-x-clip"
  tabindex="-1"
>
  <main class="mx-auto px-10 md:px-0 md:max-w-6xl py-16 px-4 md:px-8 lg:px-16">
    <!-- Header -->
    <div class="text-center mb-8 md:mb-16">
      <Badge>
        {helpyou.badge}
      </Badge>

      <h2 class="mt-4 text-4xl xl:text-6xl font-semibold text-(--text-primary)">
        {helpyou.title}
      </h2>

      <p class="mt-4 max-w-2xl mx-auto text-(--text-secundary)">{helpyou.description}</p>
    </div>

    <!-- Content -->
    <ul class="mt-8 grid gap-10 md:gap-10 md:grid-cols-3" role="list">
      {
        helpyou.items.map((item, index) => {
          const Icon = icons[index]
          return (
            <li
              class:list={[
                'relative text-center',
                index === 0 && 'helpyou-arrow-a',
                index === 1 && 'helpyou-arrow-b',
              ]}
            >
              <div
                class="mx-auto w-28 h-28 rounded-[20px_20px_20px_0] bg-[linear-gradient(40deg,#19315940_0%,var(--surface-primary)_80%)] border border-(--color-border)
                 backdrop-blur-md flex items-center justify-center shadow-[0_10px_30px_rgba(0,0,0,0.35)]"
              >
                <Icon
                  className="w-14 h-14 stroke-[1.5px] text-(--text-primary)"
                  aria-hidden="true"
                />
              </div>
              <h3 class="mt-4 text-(--color-primary) font-semibold text-lg">{item.title}</h3>
              <p class="text-(--text-secundary) text-sm leading-relaxed">{item.description}</p>
            </li>
          )
        })
      }
    </ul>
  </main>

  <SpaceGlow
    size="xl"
    color="cyan"
    intensity="low"
    className="-right-[50%] md:-right-80 top-[45%] md:-top-20"
  />

  <!-- Wave Separator -->
  <div class="absolute -bottom-20 left-0 w-full pointer-events-none z-0" aria-hidden="true">
    <svg
      width="100%"
      height="auto"
      viewBox="0 0 1437 120"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
      class="w-full h-auto"
    >
      <g opacity="0.6" clip-path="url(#clip0_618_19)">
        <path
          d="M0 -10H1437L368.531 104.72L0 -10Z"
          fill="url(#paint0_linear_618_19)"
          fill-opacity="0.05"></path>
        <path
          d="M1650 31H213L1281.47 119.722L1650 31Z"
          fill="url(#paint1_linear_618_19)"
          fill-opacity="0.05"></path>
      </g>
      <defs>
        <linearGradient
          id="paint0_linear_618_19"
          x1="718.008"
          y1="295.5"
          x2="723.555"
          y2="-34.6395"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#61107C"></stop>
          <stop offset="0.533654" stop-color="#2DCBD3"></stop>
          <stop offset="0.908654" stop-color="#020617"></stop>
        </linearGradient>
        <linearGradient
          id="paint1_linear_618_19"
          x1="931.992"
          y1="267.266"
          x2="928.674"
          y2="11.9154"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#61107C"></stop>
          <stop offset="0.533654" stop-color="#2DCBD3"></stop>
          <stop offset="0.908654" stop-color="#020617"></stop>
        </linearGradient>
        <clipPath id="clip0_618_19">
          <rect width="1437" height="120" fill="white" transform="matrix(-1 0 0 1 1437 0)"></rect>
        </clipPath>
      </defs>
    </svg>
  </div>
</section>

<style define:vars={{ arrowA: `url(${arrowA.src})`, arrowB: `url(${arrowB.src})` }}>
  .helpyou-arrow-a::before,
  .helpyou-arrow-b::before {
    content: '';
    position: absolute;
    right: -8rem;
    top: 0;
    width: 14.5rem;
    height: 10rem;
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none;
    display: none;
    background-size: cover;
  }

  .helpyou-arrow-a::before {
    background-image: var(--arrowA);
    top: -3rem;
  }

  .helpyou-arrow-b::before {
    background-image: var(--arrowB);
    top: -2.5rem;
  }

  @media (min-width: 768px) {
    .helpyou-arrow-a::before,
    .helpyou-arrow-b::before {
      display: block;
    }
  }
</style>
