---
import { getLangFromUrl, useTranslations } from '../i18n/utils/config'
import Badge from './Badge.astro'
import ServicePhases from './ServicePhases'
import SpaceGlow from './SpaceGlow.astro'
import StarDecoration from './StarDecoration.astro'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const services = t('services')
const servicePhases = t('servicePhases')
---

<section
  id="servicios"
  class="relative w-full bg-(--surface-primary) min-h-[80vh] flex items-center overflow-x-clip"
  tabindex="-1"
  aria-labelledby="services-badge services-subtitle services-description"
>
  <!-- Space Glow Effect -->
  <SpaceGlow
    size="lg"
    color="cyan"
    intensity="low"
    className="top-30 right-0 translate-x-1/2 -translate-y-1/2"
  />

  <!-- Glow Gradient -->
  <SpaceGlow
    size="xl"
    color="gradient"
    intensity="low"
    className="left-12 -bottom-2 w-[50%] rotate-180"
  />

  <!-- Stars -->
  <StarDecoration size="md" delay="0s" className="left-0 md:left-20 top-90" />
  <StarDecoration size="md" delay="0s" className="left-0 md:left-160 top-170" />
  <StarDecoration size="sm" delay="0.6s" className="right-0 md:right-20 top-50" />
  <StarDecoration size="sm" delay="1.1s" className="left-1/2 -translate-x-1/2 top-80" />

  <div class="w-full py-16 container-custom mx-auto px-3 md:px-12">
    <!-- Header -->
    <div class="text-center md:mb-16">
      <Badge id="services-badge">
        {services.badge}
      </Badge>

      <h2
        id="services-subtitle"
        class="mt-4 text-4xl xl:text-6xl font-semibold text-(--text-primary)"
      >
        {services.title}
      </h2>

      <p id="services-description" class="mt-4 max-w-2xl mx-auto text-(--text-secundary)">
        {services.description}
      </p>
    </div>

    <!-- Content -->
    <ServicePhases client:load phasesData={servicePhases.phases} labels={servicePhases.labels} />
  </div>
</section>
