---
import barsInclined from '../assets/img/barsInclined.svg'
import { cases } from '../data/casesData'
import { getLangFromUrl, useTranslations } from '../i18n/utils/config'
import Badge from './Badge.astro'
import CasesSlider from './CasesSlider'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const successes = t('successes')
---

<section
  id="casos-de-exito"
  class="overflow-x-clip relative min-h-[80vh] flex items-center"
  tabindex="-1"
>
  <img
    src={barsInclined.src}
    alt="overlay"
    class="w-full object-cover h-full absolute -left-6 bottom-40 opacity-80 pointer-events-none"
    aria-hidden="true"
  />
  <!--glow -->
  <div
    class="absolute left-18 z-20 bottom-10 w-[20%] h-100 rounded-full rotate-10 bg-linear-to-br from-(--color-primary) to-(--color-secundary) blur-[70px] opacity-12 pointer-events-none"
  >
  </div>

  <main class="relative z-10 w-full container-custom mx-auto px-3 md:px-12">
    <div class="text-center mb-10">
      <Badge>
        {successes.badge}
      </Badge>

      <h2 class="mt-4 text-4xl xl:text-6xl font-semibold text-(--text-primary)">
        {successes.title}
      </h2>

      <p class="mt-4 max-w-2xl mx-auto text-(--text-secundary)">
        {successes.description}
      </p>
    </div>

    <!-- Shadow left -->
    <div
      class="absolute z-10 -left-20 -top-10 w-15 h-screen bg-(--surface-primary) blur-lg pointer-events-none"
    >
    </div>
    <CasesSlider
      items={cases}
      labels={{ moreLabel: successes.moreLabel, moreAriaPrefix: successes.moreAriaPrefix }}
      client:load
    />
  </main>
</section>
