---
import { CircleCheck } from 'lucide-react'
import grupoEkou from '../assets/img/grupoEkou.webp'
import { getLangFromUrl, useTranslations } from '../i18n/utils/config'
import Badge from './Badge.astro'
import WelcomeDecoration from './WelcomeDecoration.astro'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const welcome = t('welcome')
const titleLines = welcome.title.split('\n')
const titleHighlightLines = welcome.titleHighlight.split('\n')
---

<section
  id="main"
  class="text-(--text-primary) relative z-10 min-h-screen flex items-center"
  tabindex="-1"
>
  <div
    class="grid grid-cols-1 lg:grid-cols-2 gap-16 md:gap-10 items-center container-custom mx-auto px-3 md:px-12 py-20"
  >
    <!-- TEXTO -->
    <div class="space-y-4">
      <Badge className="mt-4">
        {welcome.badge}
      </Badge>

      <h1 class="text-4xl xl:text-6xl font-bold">
        {
          titleLines.map((line, index) => (
            <>
              {line}
              {index < titleLines.length - 1 && <br />}
            </>
          ))
        }
        <br />
        <span
          class="bg-linear-to-r from-(--color-primary) to-(--color-secundary) bg-clip-text text-transparent"
        >
          {
            titleHighlightLines.map((line, index) => (
              <>
                {line}
                {index < titleHighlightLines.length - 1 && <br />}
              </>
            ))
          }
        </span>
      </h1>

      <p class="text-(--text-secundary) max-w-2xl lg:max-w-xl">
        {welcome.description}
      </p>

      <button
        class="inline-flex items-center justify-center px-6 py-3 rounded-full bg-white text-black font-semibold hover:opacity-70 border border-(--color-border) cursor-pointer"
      >
        {welcome.cta}
      </button>

      <!-- FEATURES -->
      <div class="flex flex-wrap gap-4 mt-2 text-(--text-secundary) text-[12px] md:text-sm">
        {
          welcome.features.map((item) => (
            <div class="flex items-center gap-2">
              <span class="text-(--color-primary)">
                <CircleCheck />
              </span>
              {item}
            </div>
          ))
        }
      </div>
    </div>

    <!-- IMAGEN -->
    <div class="relative flex justify-center">
      <div
        class="rounded-[3rem] bg-cover bg-no-repeat p-4 overflow-hidden w-full"
        style={`background-image: url(${grupoEkou.src});`}
      >
        <!-- Opacity -->
        <div class="absolute inset-0 bg-(--surface-primary)/90"></div>
        <!-- Glow -->
        <div
          class="absolute right-0 w-[70%] h-115 rounded-full rotate-180
           bg-linear-to-br
           from-(--color-primary)
           via-(--color-secundary)
           to-transparent
           blur-[70px] opacity-25 pointer-events-none"
        >
        </div>
        <img
          src={grupoEkou.src}
          alt="Equipo EKOU"
          class="w-full h-full object-cover relative z-10"
        />
      </div>
    </div>
  </div>

  <WelcomeDecoration />
</section>
