---
import decoration2 from '../assets/img/decoration2.svg'
import { getLangFromUrl, useTranslations } from '../i18n/utils/config'
import Badge from './Badge.astro'
import InnovationIcon from './icons/InnovationIcon.jsx'
import ProfessionalismIcon from './icons/ProfessionalismIcon.jsx'
import ServiceIcon from './icons/ServiceIcon.jsx'
import SpaceGlow from './SpaceGlow.astro'
import StarDecoration from './StarDecoration.astro'
import WhoWeAreCard from './WhoWeAreCard.astro'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const whoweare = t('whoweare')
---

<section
  id="quienes-somos"
  class="w-full relative min-h-[85vh] flex flex-col items-center justify-center overflow-x-clip scroll-mt-0"
  tabindex="-1"
  aria-labelledby="whoweare-badge whoweare-subtitle whoweare-description whoweare-cards-summary"
>
  <SpaceGlow
    size="xl"
    color="cyan"
    intensity="low"
    className="-left-28 md:-left-44 top-1 md:top-0"
  />
  <div
    class="absolute -left-28 md:-left-44 top-1 md:top-4 h-60 w-72 md:h-96 md:w-120 rounded-full bg-[#1930592c] blur-3xl pointer-events-none z-0"
    aria-hidden="true"
  >
  </div>
  <div
    class="w-full relative z-10 flex flex-col items-center justify-center py-16 container-custom mx-auto px-3 md:px-12"
  >
    <Badge id="whoweare-badge" className="mt-4">
      {whoweare.badge}
    </Badge>
    <h2
      id="whoweare-subtitle"
      class="mt-4 px-3 md:px-0 text-center text-4xl xl:text-6xl font-semibold text-(--text-primary)"
    >
      {whoweare.title}
    </h2>
    <p
      id="whoweare-description"
      class="mt-4 mb-4 text-center text-(--text-secundary) max-w-2xl mx-auto"
    >
      {whoweare.description}
    </p>
    <!-- solo para lectores de pantalla -->
    <p id="whoweare-cards-summary" class="sr-only">
      {
        whoweare.cards.map((card, index) => (
          <>
            {card.title}. {card.description}
            {index < whoweare.cards.length - 1 && ' '}
          </>
        ))
      }
    </p>
    <div class="relative mt-8 md:mt-24 w-full max-w-350">
      <img
        src={decoration2.src}
        alt=""
        class="absolute left-0 top-0 w-full h-[80%] object-contain opacity-40 pointer-events-none z-0"
        aria-hidden="true"
      />
      <StarDecoration
        size="md"
        delay="1s"
        className="left-[22%] -bottom-2 md:left-[18%] md:-bottom-14 z-10"
      />
      <StarDecoration size="sm" delay="0s" className="-left top-20 md:left-[33%] md:-top-12 z-10" />
      <StarDecoration
        size="lg"
        delay="0.6s"
        className="left-[10%] bottom-[50%] md:left-[66%] md:bottom-20 z-10"
      />
      <StarDecoration
        size="md"
        delay="1.4s"
        className="-right-3 top-36 md:right-2 md:-bottom-20 md:top-[unset] z-10"
      />
      <ul
        class="relative z-0 grid w-full gap-1 md:grid-cols-3 md:gap-12 justify-around"
        role="list"
      >
        <li>
          <WhoWeAreCard
            variant="left"
            title={whoweare.cards[0].title}
            description={whoweare.cards[0].description}
            icon={InnovationIcon}
          />
        </li>
        <li>
          <WhoWeAreCard
            variant="right"
            title={whoweare.cards[1].title}
            description={whoweare.cards[1].description}
            icon={ServiceIcon}
            glowVariant="service"
          />
        </li>
        <li>
          <WhoWeAreCard
            variant="left"
            title={whoweare.cards[2].title}
            description={whoweare.cards[2].description}
            icon={ProfessionalismIcon}
            glowVariant="pro"
          />
        </li>
      </ul>
    </div>
  </div>

  <!-- Wave Separator -->
  <div
    class="absolute -bottom-20 left-0 w-full pointer-events-none z-0"
    aria-hidden="true"
    id="wave"
  >
    <svg
      width="100%"
      height="auto"
      viewBox="0 0 1440 173"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
      class="w-full h-auto"
    >
      <path
        d="M379.096 83.0667C449.856 65.0833 518.371 32.85 588.936 13.3C689.452 -14.5667 794.128 -16.25 894.485 12.65C992.012 40.6667 1093.14 109 1189.51 143.717C1274.97 174.517 1368.27 187.2 1451 148.717V-11H-13V34.5833C112.008 99.3403 247.608 116.107 379.096 83.0667Z"
        fill="url(#paint0_linear_618_171)"
        fill-opacity="0.08"></path>
      <defs>
        <linearGradient
          id="paint0_linear_618_171"
          x1="719"
          y1="-27.5"
          x2="688"
          y2="406.5"
          gradientUnits="userSpaceOnUse"
        >
          <stop offset="0.0817308" stop-color="var(--surface-primary)"></stop>
          <stop offset="0.673077" stop-color="#2DCBD3"></stop>
          <stop offset="1" stop-color="#61107C"></stop>
        </linearGradient>
      </defs>
    </svg>
  </div>
</section>
